<div ng-include="'static/pages/headers/otherPagesHeader.html'"></div>
<!--contact start here-->
<div class="contact w3agile">
    <div class="container">
       
        <div class="contact-main w3l-co">

            <div class="col-md-6 contact-left">
                <div class="contact-top">
                    <h2>Contact Info</h2>
                    <p style="text-align:justify">
                        If you are looking for someone who can give you all the Real Estate and Infrastructure services under one roof, then look no further, we are the right choice for you. You can contact us on the below given Numbers, Address and E-mail ID.
                    </p>
                </div>
                <div class="conta-1 wthree-co">
                    <div class="con-phone">
                        <span class="con-ph"> </span>
                        <div class="con-para">
                            <h6>Phone</h6>
                            <p>+91 9798327999, +91 8969832918</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="conta-2 agile-co">
                    <div class="con-address">
                        <span class="con-location"> </span>
                        <div class="con-para">
                            <h6>Regd. Office </h6>
                            <p>102 SW, 1st Floor , Nidaan Building , Karamtoli Road,</p>
                            <p> Ranchi -834001, Jharkhand, India</p>

                        </div>
                    </div>
                </div>
                <div class="conta-2 agile-co">
                    <div class="con-address">
                        <span class="con-location1"> </span>
                        <div class="con-para">
                            <h6>Email</h6>
                            <p>glaubentekbuildeco@gmail.com</p>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 contact-right w3agile-co">
                <div class="contact-top">
                    <h3>GET IN TOUCH WITH US</h3>
                    <p>We will reply you back soon</p>
                </div>
                
                <div class="contact-top" style="margin-bottom: 2em !important">
				<h3>{{successMessage}}</h3>
			</div>
                
                <form ng-submit="sendMail()" name="mailForm">
                    <input type="text" class="shart" name="name" placeholder="NAME" ng-model="mail.name" required>
                    <div class="has-error" ng-show="mailForm.mail.name.$dirty">
                        <span ng-show="mailForm.mail.name.$error.required">This is a required field</span>
                    </div>
                    <input type="text" class="shart" name="email" placeholder="EMAIL" ng-model="mail.email" required>
                     <div class="has-error" ng-show="mailForm.mail.email.$dirty">
                        <span ng-show="mailForm.mail.email.$error.required">This is a required field</span>
                    </div>
                    <input type="text" class="long" name="subject" placeholder="SUBJECT" ng-model="mail.subject" required>
                    <div class="has-error" ng-show="mailForm.mail.subject.$dirty">
                        <span ng-show="mailForm.mail.subject.$error.required">This is a required field</span>
                    </div>
                    <textarea name="message" placeholder="MESSAGE" ng-model="mail.message" required></textarea>
                    <div class="has-error" ng-show="mailForm.mail.message.$dirty">
                        <span ng-show="mailForm.mail.message.$error.required">This is a required field</span>
                    </div>
                    <input type="submit" value="Submit" ng-disabled="mailForm.$invalid">
                </form>

            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="map agileits-mp">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7324.296010668257!2d85.32516133171869!3d23.38286240863558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e16b3d5a02ed%3A0xd513d8841a4db419!2sGlaubentek+Buildeco+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1512905042455"  frameborder="0" style="border:0"></iframe>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1831.0740026670642!2d85.32844435547848!3d23.38286240863558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e16b3d5a02ed%3A0xd513d8841a4db419!2sGlaubentek+Buildeco+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1512904883243" style="border:0" allowfullscreen=""></iframe> -->
        
        </div>
      
    </div>
</div>
<!--contact end here-->

