<!--contact start here-->
<div class="contact w3agile">
    <div class="container">
       
        <div class="contact-main w3l-co">

            <div class="col-md-10 contact-right w3agile-co">
                <div class="contact-top">
                    <h3>Create Post</h3>
                    <p>Post Yourself</p>
                </div>
                <form ng-submit="createPost()" name="postForm">
                    <input type="text" class="shart" name="title" placeholder="Title" ng-model="pCtrl.post.title">
                    <br><br>
                    <!-- <input type="text" class="shart" name="category" placeholder="Category" ng-model="post.tag"> -->
                   
                   <div ng-dropdown-multiselect="" 
				         options="masterTagList" 
				         selected-model="pCtrl.post.tags"
				         extra-settings="selected_baseline_settings"
				         translation-texts="selected_baselines_customTexts"></div>
					<br>
                    <textarea name="body" placeholder="Post Body" ng-model="pCtrl.post.fullText"></textarea>
                    <br><br>
                    <input type="submit" value="Post">
                </form>

            </div>

           

           
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--contact end here-->

