<div ng-include="'static/pages/headers/otherPagesHeader.html'"></div>
<div class="contact w3agile">
    <div class="container">
       
        <div class="contact-main w3l-co">

            <div class="contact-right w3agile-co form-group">
                <div class="contact-top">
                    <h3>Users Lists</h3>
                </div>
                
                	<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading" style="background-color: #efe6f2">
				<h3> Users </h3>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Sl No#</th>
							<th>Login UserName</th>
							<th>Full Name</th>
							<th>Created Date</th>
							<th>Actions</th>		
							<th>
								<button class="btn btn-success" ng-click="createNewUser()" value="Create User">Create User <span class="glyphicon glyphicon-plus"></span></button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="users in usersList|itemsPerPage:usersFullList.size" total-items="usersFullList.totalElements">
							<td>{{$index+1}}</td>
							<td>{{users.username}}</td>
							<td>{{users.firstName}} {{users.lastName}}</td>
							<td>{{users.dateCreated | date:'dd MMM yyyy'}}</td>
							<td>
							<button class="btn btn-info btn-xs editable-table-button" ng-click="editUser(users.id)">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							
							<button class="btn btn-danger btn-xs editable-table-button" ng-click="deleteUser(users.id)">
								<span class="glyphicon glyphicon-trash"></span>	
							</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
                
            </div>
            
            <div style="float: right;">
            <dir-pagination-controls
				        max-size="8"
				        direction-links="true"
				        boundary-links="true" 
				        on-page-change="getData(newPageNumber)">
			</dir-pagination-controls>
			</div>
			
            
        </div>
    </div>
</div>

