<div ng-include="'static/pages/headers/sikariaPageHeader.html'"></div>

<!--What we offer start-->
<section>
	<div class=" what-offer-widget">
		<div class="container">
			<h2 class="text-center" style="padding-bottom: 20px">What We
				Offer?</h2>

			<div class="gallery-bott">
				<div class="porto-top">

					<p>Sikaria is a Residential cum Commercial Building completed
						in the year 2017. It is on road and is located in Karamtoli Road,
						Near SN Yadav Alley (Beside Celebrations), Ranchi, Jharkhand. The
						Building is 'B+G+6' (Basement + Ground Floor + 6 Floors). Ground,
						First and Second Floors are Commercial spaces amounting to a total
						area of about 19500 sqft.</p>
				</div>

				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g3.jpg" alt="">
							<figcaption>
								<h4 class="gal">501</h4>
								<p class="gal1">
									Balcony- Yes.<br />Attached washroom-Yes <br />King Sized
									Bedroom <br />Private Room
								</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g4.jpg" alt="">
							<figcaption>
								<h4 class="gal">502</h4>
								<p class="gal1">Eastern India’s one of the best Gym –
									‘Spartan’ is present on the 2nd Floor.</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g3.jpg" alt="">
							<figcaption>
								<h4 class="gal">Upvan</h4>
								<p class="gal1">The building houses a high quality
									multi-cuisine restaurant named ‘Upvan’ on the Ground Floor</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="clearfix"></div>

				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g6.jpg" alt="">
							<figcaption>
								<h4 class="gal">3rd Floor Flat</h4>
								<p class="gal1">parking as well as outside parking for
									visiting guests or customers.</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g5.jpg" alt="">
							<figcaption>
								<h4 class="gal">4th Floor Flat</h4>
								<p class="gal1">parking as well as outside parking for
									visiting guests or customers.</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g6.jpg" alt="">
							<figcaption>
								<h4 class="gal">5th Floor Flat</h4>
								<p class="gal1">parking as well as outside parking for
									visiting guests or customers.</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="clearfix"></div>

				<div class="clearfix"></div>

				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g6.jpg" alt="">
							<figcaption>
								<h4 class="gal">3rd Floor Flat</h4>
								<p class="gal1">parking as well as outside parking for
									visiting guests or customers.</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g5.jpg" alt="">
							<figcaption>
								<h4 class="gal">4th Floor Flat</h4>
								<p class="gal1">parking as well as outside parking for
									visiting guests or customers.</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-md-4 col1 gallery-grid">
					<a href="#" rel="title"
						class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/g6.jpg" alt="">
							<figcaption>
								<h4 class="gal">5th Floor Flat</h4>
								<p class="gal1">parking as well as outside parking for
									visiting guests or customers.</p>
							</figcaption>
						</figure>
					</a>
				</div>

			</div>

		</div>


	</div>
</section>
<!--What we offer end-->



<!--ombuid tech starts plugins start-->
<section class="wprt-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="wprt-spacer" data-desktop="70" data-mobi="60"
					data-smobi="60"></div>

				<div class="wprt-spacer" data-desktop="50" data-mobi="40"
					data-smobi="40"></div>
				<div class="wprt-toggle style-1">
					<h3 class="toggle-title">Guest Access</h3>
					<div class="toggle-content Sikaria_p">
						<p>
							Entire Home, 16 plus guests, 9 bedrooms, 9 beds<br /> Entire
							Listed Place can be used by the visiting Guests including nine
							(9) large rooms, two (2) big Drawing & Dining Space, four (4)
							Balconies and two (2) Kitchens<br /> 1 night to 31 nights stay
							range<br /> Check-in time Flexible and Checkout time 12 PM
							(noon)

						</p>
					</div>
				</div>
				<div class="wprt-toggle active style-1">
					<h3 class="toggle-title">The Space</h3>
					<div class="toggle-content Sikaria_p">
						<p>
							Accommodates: 2<br /> Bathrooms: 1<br /> Bedrooms: 1<br />
							Beds: 1 Double Bed<br /> Property type: Guesthouse<br /> Room
							type: Private Room<br />

						</p>
					</div>
				</div>
				<div class="wprt-toggle style-1">
					<h3 class="toggle-title">Amenities</h3>
					<div class="toggle-content Sikaria_p">
						<p>
							Kitchen, TV, Essentials, Shampoo,Study Table,Bed Linens, Extra
							Pillows and Blankets, Refrigerator,<br /> Elevator, Free Parking
							on Premises, Hangers, Laptop friendly workspace, Private
							Entrance, Single Level Home<br /> 2 Home Safety Amenities:
							First-aid kit and Fire Extinguisher
						</p>

					</div>
				</div>

				<div class="wprt-toggle style-1">
					<h3 class="toggle-title">House Rules</h3>
					<div class="toggle-content Sikaria_p">
						<p>
							No smoking, Not suitable for pets, No parties or events, Not safe
							or suitable for infants (Under 2 years), Check in time is
							flexible. <br />Must keep noise to an optimum level, so as not
							to disturb the neighbours. Also, if carrying children (2-14
							years); instruct them or make sure that they use the Elevator
							judiciously or only when needed. <br />
							<b> Children above the age of 2 years will be counted as
								Extra Guests</b> </b>
					</div>
				</div>

				<div class="wprt-toggle style-1">
					<h3 class="toggle-title">Pricing</h3>
					<div class="toggle-content Sikaria_p">
						<p>Minimum Price Rs.7400 per day to Maximum Rs.21000 per day
							Cleaning Fee None and Security Deposit Rs.10000 per reservation</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="wprt-spacer" data-desktop="70" data-mobi="60"
					data-smobi="60"></div>
				<h2 style="color: white;">ABOUT SIKARIA HOMES</h2>

				<div class="wprt-spacer" data-desktop="50" data-mobi="40"
					data-smobi="40"></div>
				<div class="wprt-galleries galleries w-570px" data-width="135"
					data-margin="10">
					<div id="wprt-slider" class="flexslider">
						<ul class="slides">
							<li class="flex-active-slide"><img
								src="static/images/gg3.jpg" alt="image" /></li>
							<li class="flex-active-slide"><img
								src="static/images/gg3.jpg" alt="image" /></li>
							<li class="flex-active-slide"><img
								src="static/images/gg1.jpg" alt="image" /></li>
							<li class="flex-active-slide"><img
								src="static/images/gg8.jpg" alt="image" /></li>

						</ul>
					</div>
					<div id="wprt-carousel" class="flexslider">
						<ul class="slides">
							<li><img src="static/images/gg1-s.jpg" alt="image"></li>
							<li><img src="static/images/gg3-s.jpg" alt="image"></li>
							<li><img src="static/images/gg2-s.jpg" alt="image"></li>
							<li><img src="static/images/gg8-s.jpg" alt="image"></li>

						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="wprt-spacer" data-desktop="70" data-mobi="60"
					data-smobi="60"></div>
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!--ombuid tech starts plugins ends-->


<div class="container">

	<div class="contact-main w3l-co">

		<div class="col-md-6 contact-left">
			<div class="contact-top">
				<h2>GETTING AROUND</h2>
				<span class="glyphicon-ti"></span>
				<p style="text-align: justify">
					Distance from Ranchi Airport is 9.5 Kms. <br /> Distance from
					Ranchi Railway Station is 5 Kms.<br /> Distance from Morabadi
					Ground & Football Stadium is 1 Km.<br /> Distance from Governor
					House,CCL&SBI Main Branch is 1.5 Km<br /> Distance from Firayalal
					Chowk is 1.5 Kms.<br /> Distance from Lalpur Chowk is 2 Kms.<br />

				</p>
				<div class="map agileits-mp">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7324.296010668257!2d85.32516133171869!3d23.38286240863558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e16b3d5a02ed%3A0xd513d8841a4db419!2sGlaubentek+Buildeco+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1512905042455"
						frameborder="0" style="border: 0"></iframe>


				</div>

			</div>

		</div>

		<div class="col-md-6 contact-right w3agile-co">
			<div class="contact-top" style="margin-bottom: 2em !important">
				<h3>CONTACT US FOR BOOKING</h3>
				<p>We will contact you back</p>
			</div>
			
			
			<div class="contact-top" style="margin-bottom: 2em !important">
				<h3>{{successMessage}}</h3>
			</div>
			
			
			<!-- <form ng-submit="sendMail_sikaria()" name="mailForm_sikaria">
				<input type="text" class="shart" name="name" placeholder="NAME" ng-model="mail_sikaria.name"> 
				<input type="number" class="shart" name="mobile" placeholder="Mobile" ng-model="mail_sikaria.mobile"> 
				<input type="number" class="shart" name="rooms" placeholder="No of Rooms" style="margin-top: 5px;" ng-model="mail_sikaria.rooms"> 
				<input type="number" class="shart" name="persons" placeholder="No of Persons" style="margin-top: 5px;" ng-model="mail_sikaria.persons"> 
				<label for="Check-in Date"
					class="label_temp">Check-in Date</label> <input type="date"
					class="shart" name="CheckInDate" placeholder="Check-in Date"
					style="margin-top: 5px;" ng-model="mail_sikaria.CheckInDate">
				<label for="Check-out Date" class="label_temp">Check-out
					Date</label> <input type="date" class="shart" name="CheckOutDate"
					placeholder="Check-out Date" ng-model="mail_sikaria.CheckOutDate">

				<input type="number" class="shart" name="childrens"
					placeholder="No of Children" style="margin-top: 5px;"
					ng-model="mail_sikaria.childrens"> <select
					name="Type_of Rooms"
					style="font-size: 1em; color: #777; padding: 0.5em; border: 0.5px solid #f1eaea; border-radius: 2px; width: 49.5%; outline: none;"
					class="shart">
					<option value="volvo">Shared Room</option>
					<option value="saab">Private Room</option>
					<option value="fiat">Full Houses</option>
				</select>
				<textarea name="message" placeholder="MESSAGE"
					style="margin-top: 5px;" ng-model="mail_sikaria.message"></textarea>
				<input type="submit" value="Submit">
			</form> -->
			
			<div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Contact Us </span></div>
             <div class="formcontainer" style="padding-right: 15px">
                  <form name="myForm" class="form-horizontal" >
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-4 control-lable" for="file">Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="mail.name" name="firstName" class="username form-control input-sm" placeholder="Enter Name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.firstName.$error.required">This is a required field</span>
                                  </div>
                              </div>
                          </div>
                      </div>

                       <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-4 control-lable" for="file">Mobile</label>
                              <div class="col-md-7">
                               <input type="number" ng-model="mail.mobile" name="mobile" class="form-control input-sm" placeholder="Enter Mobile"/>

                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.mailId.$error.required">This is a required field</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-4 control-lable" for="file">No of Rooms</label>
                              <div class="col-md-7">
                               <input type="number" ng-model="mail.rooms" name="rooms" class="form-control input-sm" placeholder="Enter No of Rooms"/>

                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.uName.$error.required">This is a required field</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-4 control-lable" for="file">No of Persons</label>
                              <div class="col-md-7">
                               <input type="number" ng-model="mail.persons" name="persons" class="form-control input-sm" placeholder="Enter No of Persons"/>

                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.password.$error.required">This is a required field</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-4 control-lable" for="file">Check-in Date</label>
							<div class="col-md-7">
								<input type="date" ng-model="mail.checkInDate"
									name="date" class="username form-control input-sm"
									placeholder="Enter Check-in Date" required />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.confirmPassWord.$error.required">This is a required field</span> 
								</div> 
							</div>
						</div>
					</div>
                      
                      <div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-4 control-lable" for="file">Check-out Date</label>
							<div class="col-md-7">
								<input type="date" ng-model="mail.checkOutDate"
									name="checkOutDate" class="username form-control input-sm"
									placeholder="Enter Check-out Date" required />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.confirmPassWord.$error.required">This is a required field</span> 
								</div> 
							</div>
						</div>
					</div>
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-4 control-lable" for="file">No Of Childrens</label>
                              <div class="col-md-7">
                               <input type="number" ng-model="mail.childrens" name="childrens" class="form-control input-sm" placeholder="Enter No Of Childrens"/>

                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.password.$error.required">This is a required field</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-4 control-lable" for="file">Type Of Rooms</label>
                              <div class="col-md-7">
                               <select class="form-control"
									ng-model="mail.typeOfRooms" >
									<!-- <option>Select Type Of Rooms</option> -->
									<option value="volvo">Shared Room</option>
									<option value="saab">Private Room</option>
									<option value="fiat">Full Houses</option>
								</select>

                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.role.$error.required">This is a required field</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-4 control-lable" for="file">Message</label>
                              <div class="col-md-7">

                              <textarea class="form-control" name="lastName" ng-model="mail.messsage" placeholder="Enter Message"></textarea>
                              <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.lastName.$error.required">This is a required field</span>
                                  </div> 
                              </div>
                          </div>
                      </div>
                      

                      <div class="row">
                          <div class="form-actions floatRight">
                              <button type="submit" class="btn btn-success btn-sm" ng-disabled="myForm.$invalid" ng-click="submitSikariaMail()">Submit</button>
                              <button type="button" class="btn btn-danger btn-sm" >Cancel</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
			
					
 </div>
		<div class="clearfix"></div>
	</div>

</div>

















<!-- Revolution Slider -->




