
 h5, h6,
 h1, h2, h3 {margin: 0;font-weight: 800;
    font-family: 'Nixie One';}
/*h1, h2, h3 {margin: 0;font-family:'Open Sans', sans-serif ; font-weight: 510;}*/
 

h4{margin: 0;font-family: 'Nixie One'; font-weight: 700;}
ul, ol {margin: 0;}
p {margin: 0;}


.label_temp {
    font-size: 1em;
    color: #777;
    padding: 0.5em;
   font-family: 'Nixie One';
    width: 49.5%;
    outline: none;
}

.Sikaria_p{
font-size: 0.95em; color: #767676; line-height: 1.8em; margin: 1em 0;font-family: 'Open Sans', sans-serif;
}
html, body{
	font-family: 'Open Sans', sans-serif;
   font-size: 100%;
   background:#fff; 
}
.setBottomMargin{
    margin-bottom:20px;
}
a {
  text-decoration: none;
}

a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

/*--Sikaria home start here--*/

.what-offer-widget {
    text-align: center;
    padding-top: 30px;
}


.what-offer-widget h2 {
    padding-bottom: 60px;
}
/*.what-offer-widget .what-offer-card {
    border-radius: 3px;
    box-shadow: 1px  1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24),0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-in-out 0s;
}*/
.what-offer-card {
}
.what-offer-card:hover {
   background-color:#aab3bb;
}
.what-offer-widget .content {
    padding: 32px 0;
}
.what-offer-widget p {
    padding-bottom: 10px;
    padding-top: 10px;
}
.what-offer-widget span {
    color: #48b39b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.pad-r-20 {
    padding-right: 20px;
}
/*--Sikaria Home End here--*/

/*--marquee start here--*/




/*--marquee end here--*/
/*--header start here--*/
.setli li{
    display: inline-block;
    padding-top: 8px;
    font-size: 16px;
   float:left;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.banner {
    background: url(../images/BannerHome2.jpg)no-repeat center fixed;
    background-size: cover;
    min-height: 700px;
}
.banner1 {
    background: url(../images/BannerHome_pages.jpg)no-repeat fixed;
    background-size: cover;
    min-height:320px;
}
.banner2 {
    background: url(../images/pg_pic1.jpg)no-repeat center fixed;
    background-size: cover;
    min-height: 600px;
}
.header {
   
    padding-top:3px;
    padding-bottom:2px;
    background: #e8b608;
}
.logo h1 {
     padding-top:6px;
    font-size: 22px;
    color: #fff;
    font-family:"Open Sans", sans-serif;
    padding-top: 12px;
}
/*--social--*/
.social {
    float: right;
    padding: 0.5em 0 0;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li {
    display: inline-block;
    margin: 0 3px;
}
.social ul li a.facebook{
    background: url(../images/social.png) no-repeat 0px 0px; 
    width: 32px;
    height: 32px;
    display: block;
}
.social ul li a.twitter{
    background: url(../images/social.png) no-repeat -34px 0px ;
}
.social ul li a.chrome{
    background: url(../images/social.png) no-repeat -68px 0px ;
}
.social ul li a.in{
    background: url(../images/social.png) no-repeat -102px 0px ;
}
.social ul li a.facebook:hover{
	opacity:.5;
}
/*--social--*/
.top-nav {
    background: #f7f7f7;
}
.navbar-nav {
    float:none !important; 
    margin: 0;
}
.navbar-nav > li {
    text-align: center;
}
div#navbar {
    padding: 0px !important;
}
ul.nav.navbar-nav li a {
    font-size: 1.05em;
    color: #e8b607;
	padding: 31px 30px
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color:#e8b607;
	color:#fff ! important;
}
ul.nav.navbar-nav li a.active {
   background-color:#e8b607;
	color:#fff ! important;
}
.banner-bottom {
    margin-top: 15em;
    width: 40%;
}

.banner-bottom h2 {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.3em;
}
.bann-para {
   margin-top: 3em;
    padding: 1.5em;
    background: rgb(183, 146, 18);
    opacity: 0.90;
}
.bann-para p {
    font-size: 1em;
    color: #d4e0d6;
    line-height: 1.8em;
}
.bann-para1 {
   margin-top: 3em;
   margin-bottom:1.5em;
    padding: 1.5em;
    background: #26324a;
    opacity: 0.90;
}
.bann-para1 p {
    font-size: 1em;
    color: #d4e0d6;
    line-height: 1.8em;
}


.banner-bottom a {
    font-size: 0.95em;
    color: #fff;
    padding: 0.65em 1em;
    background:#A0431B;
    display: block;
    width:25%;
    text-align: center;
    border-bottom:3px solid #4E2412;
}
.banner-bottom a:hover{
	 background:#fba919;
	 text-decoration:none;
	 border-bottom:3px solid #BA7C10;
}
/*--header end here--*/
/*--welcome  grid start here--*/
.welcome {
    padding:5em 0em;
}
.wel-top h3 {
    font-size: 2.5em;
    color:#A0431B;
    text-align: center;
	line-height: 1.4em;
}
.wel-top {
    margin-bottom:1em;
}
.wel-img:hover {
    opacity: 0.60;
   
}
.wel-img {

    float: left;
    width: 47%;
}
.wel-text {
    float: right;
    width: 50%;
}
.wel-block {
    margin-top: 4em;
}
.wel-text h4 {
    font-size: 1.2em;
    color: #fba919;
    text-align:justify;
    margin-bottom: 0.25em;
}
.wel-text p {
    font-size: 0.95em;
    color: #767676;
    width: 100%;
    margin: 0 auto;
    line-height: 1.8em;
}
/*--welcome grid end here--*/
/*--testimonial strat here--*/
.testimo {
    background: url(../images/graduation.jpg)no-repeat center fixed;
    background-size: cover;
    min-height:350px;
}
.testimo-main {
    margin-top: 7em;
        text-align: center;
}
.testimo-main h3 {
    font-size: 2.1em;
    color:#fba919;
    margin-bottom: 0.3em;
	line-height: 1.4em;
}
.testimo-main p {
    font-size: 0.95em;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    line-height: 1.8em;
}
/*--testimonial end here--*/
/*--admission strat here--*/
/*-- w3layouts --*/
.admission {
    padding: 5em 0em;
    background: #F7F7F7;
}
.admission-top h3 {
    font-size: 2em;
    color:#A0431B;
    text-align: center;
	line-height:1.4em;
}
span.quot1 {
    background: url(../images/quot1.png)no-repeat;
    width: 12%;
    height: 50px;
    display: inline-block;
    float: left;
}
.quot-text {
    float: right;
    width: 86%;
}
.quot-text p {
    font-size: 0.95em;
    color: #767676;
    line-height: 1.8em;
    width: 100%;
    text-align:justify
}
.quot-text h4 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom:0.6em;
    color: #fba919;
    text-align: left;
}
.quot-text h3 {
    font-size: 1.2em;
    margin-top: 1em;
    color: #053c75;;
    text-align: right;
}
.admission-top {
    margin-bottom: 38px;
}
/*--admission end here--*/
/*--course strat here--*/
.course-left {
    background: url(../images/Home_slide.jpg)no-repeat;
    background-size: cover;
    min-height: 500px;
}
.course-right {
    margin-top: 2em;
    padding: 0em 0em 0em 3em;
}
.course-right h6 {
    font-size: 1em;
    color: #999;
}
/*-- agileits --*/
.course-right h3 {
    font-size: 2.5em;
    color: #A0431B;
    margin: 0.2em 0em;
}
.course-right p {
    font-size: 0.95em;
    color: #767676;
    line-height: 1.8em;
    width: 81%;
    margin: 1em 0;
}
.course-right a {
    font-size: 1em;
    color: #fff;
    background: #A0431B;
    padding: 0.6em 1em;
    display: block;
    width: 16%;
    text-align: center;
    border-radius: 3px;
    margin-top: 1.2em;
}
.course-right a:hover{
	background: #FBA919;
}
/*--course end here--*/
/*--footer start here--*/
/*-- footer --*/
.footer{
	padding:3em 0;
	background:#213a46;
}
.footer-grid h4 a{
	font-size:2.3em;
	color:#faa819;
	text-decoration:none;
}
.footer-grid p {
    font-size: 0.95em;
    color: #999;
    line-height: 1.8em;
    margin: 1.2em 0 2em;
}
.footer-grid ul{
	padding: 0;
}
.newsletter{
	margin:2em 0 0;
}
.news_a{
     padding-left:0px!important;
    padding-right:0px !important;
    font-size: 1em;
    color: #A0431B!important;
   background: transparent!important;
   margin-top:0px !important;
   margin-bottom:2px !important;
    padding: 0em 0em!important;
    display: block!important;
    width: 25%!important;
    text-align: center!important;
    border-radius: 3px!important;
    margin-top: 1.2em!important;
}
/*-- w3layouts --*/
.newsletter input[type="email"]{
	outline: none;
    padding: 10px;
    background: #686868;
    border: 1px solid #838181;
    font-size: 14px;
    width: 70%;
    float: left;
    color: #fff;
}
.newsletter input[type="submit"]{
	outline: none;
    padding: 10px 0;
    background: #fba919;
    border: none;
    font-size: 1em;
    width: 30%;
    color: #fff;
    
}
.newsletter input[type="submit"]:hover{
	background:#a0431a;
}
.footer-grid h3 {
    font-size: 2em;   
    color: #faa819;    
    margin: 0 0 1.2em;  
    text-transform: capitalize;
}
.footer-grid-left{
	float:left;
	width:33.33%;
}
.footer-grid-left img{
	border:1px solid #A6A6A6;
}
.footer-grid ul.footer-address li {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.8em;
    color: #999;
}
.footer-grid ul.footer-address li span {
    left: -1em;
    padding-left: 2em;
    color: #f9a719;
}
/*-- agileits --*/
.footer-grid ul.footer-address li a {
    color: #999;
}
.footer-grid ul.footer-address li a:hover {
    color: #fff;
}
.footer-copy {
    padding: 0.6em 0;
    background: #141414;
    text-align: center;
}
.footer-copy p {
    font-size: 14px;
    color: #8F8F8F;
    margin: 0;
    line-height: 1.8em;
}
.footer-copy p a {
    color: #A0431B;
    text-decoration: none;
}
.footer-copy p a:hover {
    color: #8F8F8F;
}
/*-- //footer --*/
/*--about start here--*/
.about {
  padding: 0em 0em 5em 0em;
}
.about {
  padding: 2em 0em 5em 0em;
}
.about-main {
  background: #fff;
  margin: 0em 0em 3.5em 0em;
}
.abouttop-right h4 {
  font-size: 1.6em;
  margin: 0em 0em 0.5em 0em;
}
.abouttop-right h4 a{
	color:#FBA919;
}
.abouttop-right h4 a:hover{
	color:#A0431B;
	text-decoration:none;
}
.abouttop-right p {
    font-size: 0.95em;
    color: #767676;
    line-height: 1.8em;
}
.about-top h2 {
    font-size: 2.5em;
    color: #A0431B;
    margin: 0em 0em 0.7em 0em;
    text-align: center;
}
/*-- team --*/
.team h3 {
    font-size: 2.5em;
    color: #A0431B;
    margin: 0em 0em 0.7em 0em;
    text-align: center;
}
.btm-right {
    text-align: center;
	padding: 1em;
  
}
.captn h4 {
    font-size: 1.5em;
    color: #FBA919;
    margin: 0.5em 0 0.3em;
}
.captn  p{
    font-size: 0.9em;
    color: #999;
	font-style:italic;
    margin: 0em 0 0.5em;
}
.captn2 li a{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    margin: 0 3px;
}
.captn2 a:hover {
    transform: rotateY(360deg);	
	border-radius:100px;
}
.captn2 li{
	display:inline-block;
}
.captn2 li a.icon1{
	background:url(../images/img-sprite.png) no-repeat -3px -1px;	
}
.captn2 li a.icon2{
	background:url(../images/img-sprite.png) no-repeat -80px 0px;	
}
.captn2 li a.icon3{
	background:url(../images/img-sprite.png) no-repeat -150px 0px;	
}
.captn2 li a.icon1:hover{
	background:url(../images/img-sprite.png) no-repeat -3px -48px;	
}
.captn2 li a.icon2:hover{
	background:url(../images/img-sprite.png) no-repeat -80px -48px;	
}
.captn2 li a.icon3:hover{
	background:url(../images/img-sprite.png) no-repeat -150px -48px;	
}
.btm-right:hover {
	background:#A0431B;
	padding:1em;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.btm-right:hover .captn  p{
    color: #000;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.btm-right:hover .captn2 li a.icon1{
	background:url(../images/img-sprite.png) no-repeat -3px -48px;	
}
.btm-right:hover .captn2 li a.icon2{
	background:url(../images/img-sprite.png) no-repeat -80px -48px;	
}
.btm-right:hover .captn2 li a.icon3{
	background:url(../images/img-sprite.png) no-repeat -150px -48px;	
}
.btm-right:hover .captn2 a {
    border-radius:100px;
}
ul.captn2 {
    padding: 0;
}
/*-- //team --*/
.history {
  margin: 4em 0em 0em 0em;
}
.history {
  margin: 4em 0em 0em 0em;
  background: #fff;
  border-radius: 4px;
}
.history-top h3 {
  font-size: 2.5em;
  color:#A0431B;
  padding: 0em 0em 0.5em 0.5em;
  margin: 0em 0em 0em 0em;
  text-align: center;
}
.history-grids h4 {
  font-size:1.6em;
  color:#FBA919;
  margin: 0em 0em 0.2em 0em;
}
.history-bottom {
  /*padding: 2em 0em 1em 0em;*/
}
.history-grids p {
      font-size: 0.90em;
    color: #767676;
    line-height: 1.6em;
}
/*--about end here--*/
/*--short codes--*/
.page-header h3 {
    font-size: 2em;
    color: #fba919;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
.grid1 {
  margin: 1.5em 0 0;
}
ul.nav.nav-pills {
  margin: 1.5em 0 0;
}
.grid2{
	margin: 1em 0 0;
}
.bs-example {
  padding: 2em 0 0;
}
.form-horizontal .control-label {
  text-align: left;
}
h3.typo1 {
  text-align: center;
  font-size: 2.5em;
  color:#A0431B;
}
.page {
  padding: 4em 0em 4em 0em;
}
/*--//short codes--*/
/*--galler start here--*/
.gallery {
  padding: 4em 0em;
}
.gallery-top h2 {
  font-size: 2.5em;
  color:#A0431B;
  margin: 0em;
}
.gallery-grid {
  margin: 0em 0em 2em 0em;
}
.gallery-top {
  padding: 0em 0em 2em 0em;
  text-align: center;
}
/*----*/
.col1 figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.col1 figure img {
	position: relative;
	display: block;
}

.features-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.col1 figure figcaption::before,
.fcol1 figure figcaption::after {
	pointer-events: none;
}
.col1 figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	background:#a0431a;
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;	
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1); 
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4 {
	padding-top: 21%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
	color:#fff;
	font-size: 1.5em;
}
figure.effect-bubba h4.gal {
	padding-top: 25%;
}
figure.effect-bubba p {
	padding: 0.5em 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	-moz-transform: translate3d(0,20px,0);
	-o-transform: translate3d(0,20px,0);
	-ms-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	color:#fff;
	line-height: 1.5em;
	font-size: 0.9em;
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*--//welcome--*/
/*--gallery end here--*/
/*--services--*/
.ser-top {
    /*margin-bottom: 2em;*/
    text-align: center;
}
.ser-top h3 {
    margin-bottom: 0.4em;
    font-size: 3em;
    font-weight: bold;
	color:#000;
}
.ser-top p {
    font-size: 0.95em;
    color: #767676;
    line-height: 1.8em;
    margin: 0em auto;
    width: 75%;
}
.porto-top {
    margin-bottom: 2em;
    text-align: center;
}
.porto-top h3 {
    margin-bottom: 0.4em;
    font-size: 3em;
    font-weight: bold;
	color:#000;
}
.porto-top p {
    font-size: 0.95em;
    color: #767676;
    line-height: 1.8em;
    margin: 1em auto;
   
}
.ser-t {
    text-align: center;
    margin: 0 auto;
    width: 20%;
    position: relative;
}
.ser-t b{	
	width: 100%;
    height: 2px;
    display: block;
    background: #D5D5D5;
    margin-bottom: 3px;
}
.ser-t b.line{
    margin: 0 auto;
    height: 5px;
    background: #F05E6B;
}
.service {
    padding: 3.5em 0;
}
.ser-head h5{
	font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.7em;
    color: #F05E6B;
    font-weight: 900;
	margin-bottom: 1em;
}
.ser-head p{
	font-size: 0.9em;
    color: #999;
    line-height: 2em;
    margin: 1em 0;
}
.ser-head ul li{
	display: block;
    font-size: 0.9em;
    color: #999;
    line-height: 2.3em;
    list-style: none;
}
.ser-head ul li i{
	color:#02C7DA;
    margin-right: 2%;
}
/*----*/
.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fba919;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {	
	speak: none;
	font-size: 30px;
	line-height: 71px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 7 */
.hi-icon-effect-7 .hi-icon {
	box-shadow: 0 0 0 4px #A0431B;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
}

.hi-icon-effect-7 .hi-icon:hover {
	color: #A0431B;
}

.hi-icon-effect-7 .hi-icon:after {
	top: -8px;
	left: -8px;
	padding: 8px;
	z-index: -1;
	opacity: 0;
}

/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after {
	box-shadow: 0 0 0 #A0431B;
	-webkit-transition: opacity 0.2s, box-shadow 0.2s;
	-moz-transition: opacity 0.2s, box-shadow 0.2s;
	transition: opacity 0.2s, box-shadow 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:after {
	opacity: 1;
	box-shadow: 3px 3px 0 #A0431B;
}

.hi-icon-effect-7a .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/*----*/
.service h2 {
    font-size: 2.5em;
    color: #A0431B;
    margin: 0em 0em 0.7em 0em;
    text-align: center;
}
.ser-grid h3{
	   font-size: 1.5em;
    color: #fba919;
    margin: 0.3em 0 0.27em;;
}
.ser-grid1 h3{
	   font-size: 2em;
    color: #fba919;
    margin: 0.3em 0 0.27em;;
}
.ser-grid p {
    font-size: 1em;
    color: #767676;
    line-height: 1.8em;
}
.ser-grid1 p {
    font-size: 0.85em;
    color: #767676;
    line-height: 1.8em;
}
/*//for demo purose.about.uncomment it*/
.ser-grid:nth-child(1){
    /*border-bottom:1px dashed #000;*/
}
.ser-grid:nth-child(2){
    /*border-left: 1px dashed #000;*/
    /*border-bottom:1px dashed #000;*/
}
/*//for demo purose.about.uncomment border-bottom it*/
.ser-grid:nth-child(3){
    /*border-left: 1px dashed #000;*/
    /*border-bottom:1px dashed #000;*/
}
.ser-grid:nth-child(5){
    border-left: 1px dashed #000;
}
.ser-grid:nth-child(6){
    border-left: 1px dashed #000;
}
.ser-grid {
    padding: 1.5em;
    text-align: center;
}
.ser-grid1 {
    padding: 1.5em;
    text-align: center;
}
.ser-pic-hover:hover {
   
    opacity:0.60;
    
}
.ser-head1 {
    margin-bottom: 6em;
}
/*--//service--*/
/*--contact strat here--*/
.contact {
    padding: 5em 0em;
}
.contact-top h2 {
    font-size: 2em;
    color: #A0431B;
}
.contact-top h3 {
    font-size: 2em;
    color: #A0431B;
}
.contact-top p {
    font-size: 0.95em;
    color: #767676;
    line-height: 1.8em;
    margin: 1em 0;
}
.contact-top {
    margin-bottom: 3em;
}
.conta-1 {
       
    padding-right: 0em;
    padding-bottom: 2em;
    padding-left: 0em;
   
}
span.con-ph {
    background: url(../images/phone.png)no-repeat;
    width: 35px;
    height: 30px;
    display: inline-block;
}
span.con-location {
    background: url(../images/location.png)no-repeat;
    width: 35px;
    height: 30px;
    display: inline-block;
}
span.con-location1{
    background: url(../images/emailTemp.png)no-repeat;
    width: 35px;
    height: 30px;
    display: inline-block;
}
.conta-2 {
  
    padding-right: 0em;
    padding-bottom: 2em;
    padding-left: 0em;
   
}
.con-para {
    display: inline-block;
}
.con-para h6 {
    font-size: 1.1em;
    color: #A0431B;
    margin-bottom: 0.2em;
}
.con-para p {
    font-size: 0.95em;
    color: #767676;
}
input.shart {
    font-size: 1em;
    color: #777;
    padding: 0.5em;
    border: 0.5px solid #f1eaea;
    border-radius: 2px;
    width: 49.5%;
    outline: none;
}
input.long {
    font-size: 1em;
    color: #777;
    padding: 0.5em;
    width: 100%;
    margin: 0.8em 0em;
    outline: none;
    border: 0.5px solid #f1eaea;
    border-radius: 2px;
}
textarea {
    font-size: 1em;
    color: #777;
    border: 0.5px solid #f1eaea;
    border-radius: 2px;
    width: 100%;
    height: 8em;
    padding: 0.5em;
    outline: none;
    resize:none;
}
.contact-right input[type="submit"] {
    font-size: 1em;
    color: #fff;
    border: none;
    background:#FBA919;
    padding: 0.5em 1em;
    outline: none;
    margin: 0.8em 0em;
    border-bottom: 3px solid #C3820F;
}
.contact-right input[type="submit"]:hover{
    background:#A0431B;
    border-bottom: 3px solid #752C0D;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.map{
	margin-top:3em;
}
.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}
/*--contact end here--*/
/*--responsive design--*/
@media(max-width:1440px){
.course-right a {
    width: 19%;	
}
}
/*--responsive design--*/
@media(max-width:1366px){
.course-right a {
    width: 22%;
}
.course-right {
    margin-top: 1.8em;	
}
}
/*--responsive design--*/
@media(max-width:1280px){
	
}
/*--responsive design--*/
@media(max-width:1024px){
.abouttop-right h4 {
    font-size: 1.3em;
    margin: 0em 0em 0.2em 0em;
}	
.abouttop-right p {
    font-size: 0.91em;
}
.navbar-toggle {
    background-color: rgb(160, 67, 27);
}
.navbar-toggle {
    float: none;
}
.navbar-header {
    text-align: center;
     margin-right:0px; 
}
.addre p {
    font-size: 0.75em;
}
.banner-bottom a {
    width: 28%;
}
.about-top h2 {
    margin: 0em 0em 1em 0em;
}
.wel-block {
    margin-top: 2em;
}
.wel-top h3 {
    font-size: 2em;
}
.testimo-main p {
    width: 60%;
}
.course-right {
    margin-top: 6em;
    padding: 0em 0em 0em 3em;
}
.course-right p {
    width: 90%;
	font-size:0.875em;
}
.course-right a {
    width: 25%;
}
.banner {
    min-height: 600px;
}
.banner2 {
    min-height: 600px;
}
.banner-bottom {
    margin-top: 6em;
}
ul.nav.navbar-nav li a {
    padding: 18px 51px;
}
.welcome {
    padding: 3em 0em;
}
.wel-text h4 {
    font-size: 1.3em;
}
.wel-text p {
    font-size: 0.875em;
}
.testimo-main h3 {
    font-size: 2em;
}
.testimo-main p {
    font-size: 0.875em;
}
.admission {
    padding: 3em 0em;
}
.admission-top {
    margin-bottom: 3em;
}
.quot-text p {
    font-size: 0.875em;
}
.admission-top h3 {
    font-size: 2em;
}
.quot-text h4 {
    font-size: 1em;
}
.course-right h3 {
    font-size: 2em;
}
.footer-grid h4 a {
    font-size: 2.5em;
}
.footer-grid p {
    font-size: 0.875em;
	margin: 2em 0 2em;
}
.footer-grid h3 {
    font-size: 1.8em;
}
.footer-grid ul.footer-address li {
    font-size: 13px;
}
.service h2 {
    margin: 0em 0em 1em 0em;
}
.banner1 {
    min-height: 350px;
}
}
/*--responsive design--*/
@media(max-width:991px){
.logo {
    float: left;
    width: 40%;
}
.details {
    float: right;
    width: 60%;
}	
.banner-bottom {
    width: 50%;
}
.wel-img {
    width: 44%;
}
.course-right {
    margin: 4em 0em;
}
.footer-main p {
    width: 60%;
}
.admission-top {
    margin-bottom: 2em;
}
.abouttop-left {
    width: 65%;
    margin: 0 auto 1em;
}
.abouttop-left {
    width: 65%;
    margin: 0 auto 1em;
}
.team-grid {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.history-bottom {
    padding: 0em;
}
.history-grids {
    margin-bottom: 1em;
}
.history {
    margin: 2em 0em 0em 0em;
}
.about-main {
    margin: 0em 0em 2em 0em;
}
.col1.gallery-grid {
    float: left;
    width: 50%;
}
.contact-right {
    margin-top: 2em;
}
ul.nav.navbar-nav li a {
    padding: 17px 33px;
}
.wel-top h3 {
    font-size: 1.9em;
}
.testimo-main h3 {
    font-size: 1.9em;
}
.admission-top h3 {
    font-size: 1.8em;
}
.course-right h3 {
    font-size: 1.9em;
}
.footer-grid {
    margin-bottom: 2em;
}
.footer-grid h3 {
    font-size: 1.7em;
    margin: 0 0 1em;
}
.footer {
    padding: 2em 0;
}
.quot-text {
    width: 92%;
}
span.quot1 {
    width: 5%;
}
.admission-left {
    margin-bottom: 1em;
}
.bottom-grid {
    float: left;
    width: 50%;
}
.ser-grid {
    float: left;
    width: 33.33%;
}
.ser-grid1 {
    float: left;
    width: 66.67%;
}
.ser-grid h3 {
    font-size: 1.2em;
}
.ser-grid1 h3 {
    font-size: 1.2em;
}
.wel-block-1 {
    margin-bottom: 1.5em;
}
.ser-top p {
    width: 100%;
}
.service {
    padding: 3em 0;
}
.banner1 {
    min-height: 320px;
}
}
/*--responsive design--*/
@media(max-width:768px){
.wel-img {
    float: left;
    width: 43%;	
}
.banner-bottom {
    width: 50%;
}
.banner {
    min-height:430px;
}
.banner2 {
    min-height:430px;
}
.banner-bottom {
    margin-top: 0em;
    width: 60%;
}
.testimo-main p {
    width: 75%;
}
.testimo {
    min-height: 250px;
}
.testimo-main {
    margin-top: 4em;
}
.welcome {
    padding: 3em 0em;
}
.wel-block {
    margin-top: 3em;
}
.admission {
    padding: 3em 0em;
}
.admission-top {
    margin-bottom: 2em;
}
.course-left {
    min-height: 450px;
}
.course-right {
    margin: 3em 0em;
    padding: 0em 0em 0em 2em;
}
.footer-main p {
    width: 85%;
}
.footer-main input[type="text"] {
    width: 35%;
}
.about {
    padding: 3em 0em 3em 0em;
}
.about-main {
    margin: 0em 0em 3em 0em;
}
.team-grid {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.history {
    margin: 2em 0em 0em 0em;
}
.history-bottom {
    padding: 0em;
}
.history-grids {
    padding-bottom: 1em;
}
.page {
    padding: 3em 0em 3em 0em;
}
h3.typo1 {
    font-size: 2.5em;
}
.gallery {
    padding: 3em 0em;
}
.gallery-top {
    padding: 0em 0em 2em 0em;
}
.gallery-top h2 {
    font-size: 2.5em;
}
.col1.gallery-grid {
    float: left;
    width: 50%;
}
.contact {
    padding: 3em 0em;
}
.contact-left {
    margin-bottom: 2em;
}
.map {
    margin-top: 2em;
}
.logo {
    float: left;
    width: 45%;
}
.details {
    float: right;
    width: 55%;
}
/*--typo--*/
.page {
  margin: 2em 0;
}
h3.typo1 {
  font-size: 2em;
}
h1.grid2 {
  font-size: 2.3em;
}	
.testimonal-main a.testimo-btn {
  font-size: 0.81em;
}	
h3.typo1 {
  font-size: 2.5em;
}
}
/*--responsive design--*/
@media(max-width:736px){
.wel-top h3 {
    font-size: 1.8em;
}
.testimo-main h3 {
    font-size: 1.8em;
}
.course-right h3 {
    font-size: 1.8em;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
}
/*--responsive design--*/
@media(max-width:640px){
.navbar-nav > li {
    width: 100%;	
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.banner1 {
    min-height: 300px;
}
.banner-bottom h2 {
    font-size: 1.3em;
}
.bann-para {
    margin-top: 3em;
}
.banner-bottom {
    width: 70%;
}
.footer-main p {
    width: 100%;
    font-size: 0.9em;
}
.course-left {
    min-height: 370px;
}
.footer-main input[type="text"] {
    width: 50%;
}
.map iframe {
    height: 225px;
}
.logo h1 {
    padding-top: 5px;
    font-size: 23px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
   
}
.logo {
    width: 40%;
}
.details {
    width: 60%;
}
.navbar-toggle {
    margin-right:0px
}
/*--typo--*/
button.btn.btn-lg {
  font-size: 1.1em;
}
h1.grid2 {
  font-size: 2em;
}
h2.grid2 {
  font-size: 1.9em;
}
h3.typo1 {
  font-size: 2.5em;
}
.page {
  margin: 2em 0;
}
figure.effect-bubba h4 {
    font-size: 1.3em;
}
}
/*--responsive design--*/
@media(max-width:480px){
.banner-bottom {
    width: 90%;
}
.wel-top h3 {
    font-size: 1.5em;
}
.wel-img {
    width: 41%;
}
.wel-text {
    width: 56%;
    margin-top: 0em;
}
.quot-text {
    width: 89%;
}
.testimo-main h3 {
    font-size: 1.5em;
}
.testimo-main p {
    font-size: 0.9em;
    width: 94%;
}
.wel-text h4 {
    font-size: 1.1em;
}
.banner-bottom h2 {
    font-size: 1.1em;
}
.wel-text p {
    font-size: 0.85em;
}
.admission-top h3 {
    font-size: 1.5em;
}
span.quot1 {
    width: 7%;
}
.quot-text p {
    font-size: 0.9em;
}
.about-top h2 {
    margin: 0em 0em 0.5em 0em;
    font-size: 2em;
}
.abouttop-left img {
    width: 100%;
    margin: 0em auto 1em;
}
.abouttop-left img:hover {
   opacity:0.60;
}
.about {
    padding: 2em 0em 2em 0em;
}
.course-right a {
    font-size: 0.9em;
    padding: 0.6em 0.5em;
}
.course-right h3 {
    font-size: 1.5em;
}
.course-right p {
    width: 80%;
    font-size: 0.9em;
}
.footer-main h3 {
    font-size: 1.5em;
}
.col1.gallery-grid {
    width: 100%;
    margin: 0em 0em 1em 0em;
}
.gallery-top h2 {
    font-size: 2em;
}
.contact-top h2 {
	font-size: 2em;
}
.contact-top h3 {
    font-size: 2em;
}
.map iframe {
    height: 170px;
}
input.shart {
    font-size: 1em;
    width: 100%;
    margin-bottom: 1em;
}
input.long {
    margin: 0em 0em 1em 0em;
}
.contact-top {
    margin-bottom: 2em;
}
.bann-para {
    margin-top: 2em;
}
/*--typo--*/
.page-header h3 {
  font-size: 2em; 
}
button.btn.btn-lg {
  font-size: 1em;
  padding: 7px;
}
button.btn.btn-1 {
  font-size: 0.9em;
  padding: 8px;
}
button.btn.btn-sm {
  font-size: 0.8em;
  padding: 9px;
}
h1#h1-bootstrap-heading {
  font-size: 2.2em;
}
h2#h2-bootstrap-heading {
  font-size: 2em;
}
h1.grid2 {
  font-size: 1.45em;
}
h2.grid2 {
  font-size: 1.35em;
}
h3.grid2 {
  font-size: 1.3em;
}
h4.grid2 {
  font-size: 1.2em;
}
h3.typo1 {
  font-size: 2em;
}
.wel-block {
    margin-top: 2em;
}
.bann-para p {
    font-size: 0.875em;
}
.team h3 {
    font-size: 2em;
}
.service h2 {
    font-size: 2em;
}
.ser-grid {
    float: left;
    width: 100%;
}
.ser-grid1 {
    float: left;
    width: 100%;
}
.ser-grid:nth-child(2) {
    border-left: none;
    border-bottom: none;
}
.ser-grid:nth-child(3) {
      border-left: none;
    border-bottom: none;
}
.ser-grid:nth-child(5) {
    border-left: none;
}
.ser-grid:nth-child(6) {
      border-left: none;
}
.ser-grid:nth-child(1) {
     border-bottom: none;
}
.ser-head1 {
    margin-bottom: 1.5em;
}
.banner1 {
    min-height: 270px;
}
.contact-top h2 {
    font-size: 2em;
}
.contact-top h3 {
    font-size: 2em;
}
}
/*--responsive design--*/
@media(max-width:414px){
.logo {
    width: 100%;
    text-align: center;
}
.details {
    width: 100%;
}
.social {
    float: none;
    padding: 1em 0 0;
    text-align: center;
}
.bann-para p {
    font-size: 0.85em;
}
.wel-top h3 {
    font-size: 1.3em;
}
.wel-img {
    width: 100%;
}
.wel-img img {
    width: 100%;
}
.wel-text {
    width: 100%;
	margin-bottom:1em;
}
.testimo-main {
    margin-top: 2em;
}
.testimo-main h3 {
    font-size: 1.3em;
}
.testimo-main p {
    font-size: 0.85em;
    width: 100%;
}
.testimo {
    min-height: 185px;
}
.admission-top h3 {
    font-size: 1.3em;
}
.quot-text p {
    font-size: 0.85em;
}
span.quot1 {
    width: 9%;
}
.welcome {
    padding: 2em 0em;
}
.admission {
    padding: 2em 0em;
}
.course-left {
    min-height: 242px;
}
.course-right h3 {
    font-size: 1.3em;
}
.course-right {
    margin: 1em 0em;
    padding: 0em 1em 0em 1em;
}
.course-right p {
    width: 100%;
    font-size: 0.85em;
}
.footer-grid h4 a {
    font-size: 2em;
}
.footer-grid p {
    font-size: 0.85em;
    margin: 1em 0 0em;
}
.footer-grid h3 {
    font-size: 1.3em;
    margin: 0 0 1em;
}
.bottom-grid {
    width: 100%;
}
}
/*--responsive design--*/
@media(max-width:320px){
.logo h1 {
    font-size: 2em;
}
.navbar-toggle {
    padding: 6px 6px;
}
.navbar-toggle .icon-bar {
    width: 18px;
}
.banner-bottom {
    width: 100%;
}
.bann-para p {
    font-size: 0.8em;
}
.banner-bottom a {
    width: 34%;
    font-size: 0.8em;
    padding: 0.4em 1em;
}
.bann-para {
    margin-top: 1em;
}
.welcome {
    padding: 2em 0em;
}
.wel-top h3 {
    font-size: 1.2em;
}
.wel-block {
    margin-top: 0em;
}
.wel-img {
    width: 100%;
    float: none;
}
.wel-text {
    width: 100%;
    margin-top: 1em;
}
.wel-left {
    padding: 0px;
}
.wel-right {
    padding: 0px;
}
.testimo-main h3 {
    font-size: 1.1em;
}
.testimo-main p {
    font-size: 0.8em;
    width: 100%;
}
.testimo {
    min-height: 180px;
}
.testimo-main {
    margin-top: 2.5em;
}
.quot-text p {
    font-size: 0.85em;
    width: 100%;
}
.admission-top h3 {
    font-size: 1.3em;
}
.admission {
    padding: 2em 0em;
}
.admission-left {
    padding: 0px;
}
span.quot1 {
    background-size: 100%;
}
.admission-top {
    margin-bottom: 1em;
}
.quot-text h4 {
    font-size: 0.9em;
    margin-top: 0.5em;
}
.admission-left {
    margin-bottom: 1em;
}
.course-left {
    min-height: 150px;
    padding: 0px;
}
.course-right {
    margin: 2em 0em;
    padding: 0em 0em 0em 1em;
}
.course-right p {
    width: 100%;
    font-size: 0.85em;
}
.course-right a {
    width: 32%;
    margin-top: 1em;
}
.footer {
    padding: 1.7em 0em;
}
.footer-main p {
    font-size: 0.8em;
}
.footer-main input[type="text"] {
    width: 70%;
}
.footer-main input[type="submit"] {
    font-size: 1em;
}
.copy-rights-main p {
    font-size: 0.9em;
}
ul.nav.navbar-nav li a {
    font-size: 0.85em;
    padding: 0.5em 0em;
}
.about-top h2 {
    font-size: 1.5em;
}
.abouttop-left {
    padding: 0px;
}
.abouttop-right {
    padding: 0px;
}
.abouttop-right h4 {
    font-size: 1.05em;
}
.abouttop-right p {
    font-size: 0.9em;
}
.about-main {
    margin: 0em 0em 1em 0em;
}
.team h3 {
    font-size: 1.5em;
    margin: 0em 0em 0.4em 0em;
}
.team-grid {
    margin-bottom: 0.5em;
    padding: 0em 0.5em 0em 0em;
}
.history {
    margin: 1em 0em 0em 0em;
}
.history-top h3 {
    font-size: 1.5em;
    padding: 0em 0em 0.5em 0em;
}
.history-grids {
    padding: 0em 0em 1em 0em;
}
.history-grids h4 {
    font-size: 1.1em;
}
.history-grids p {
    font-size: 0.85em;
}
.banner1 {
    min-height: 260px;
}
.gallery {
    padding: 1.5em 0em;
}
.gallery-top h2 {
    font-size: 1.5em;
}
.col1.gallery-grid {
    padding: 0px;
}
.contact {
    padding: 1.7em 0em;
}
.contact-top h2 {
    font-size: 1.5em;
}
.contact-top h3 {
    font-size: 1.5em;
}
.contact-left {
    padding: 0px;
}
.contact-top p {
    font-size: 0.85em;
}
.contact-top {
    margin-bottom: 1em;
}
.conta-1 {
    padding: 1em 0em;
}
.con-para h6 {
    font-size: 1em;
}
.conta-2 {
    padding: 1em 0em;
}
.contact-left {
    margin-bottom: 1.5em;
}
.contact-right {
    padding: 0px;
}
input.shart {
    font-size: 0.8em;
    margin-bottom: 0.8em;
}
input.long {
    font-size: 0.8em;
}
textarea {
    font-size: 0.8em;
}
.contact-right input[type="submit"] {
    font-size: 0.9em;
}
.map {
    margin-top: 0.5em;
}
.addre.ad-para {
    width: 50%;
}
.addre {
    width: 25%;
}
.addre.addres-mes {
    width: 25%;
}
.banner {
    min-height: 400px;
}
/*--typo--*/
h1#h1-bootstrap-heading {
  font-size: 1.6em;
}
h2#h2-bootstrap-heading {
  font-size: 1.5em;
}
h3#h3-bootstrap-heading {
  font-size: 1.4em;
}
button.btn.btn-lg {
  font-size: 0.9em;
  margin: 0 0 0.5em 0px;
  padding: 9px;
}
.grid1 {
  margin: 0.7em 0 0;
}
button.btn.btn-1 {
  font-size: 0.8em;
  margin: 0 0 0.5em;
}
button.btn.btn-sm {
  font-size: 0.7em;
  padding: 5px;
  margin: 0 0 0.5em;
}
button.btn.btn-xs {
  font-size: 0.7em;
}
ul.nav.nav-pills a{
	padding: 0.5em;
  font-size: 0.9em;
}
span.label {
  margin: 0 0 0.5em;
  display: inline-block;
}
.page {
  padding: 0 0 1em;
}
.page-header {
  margin: 16px 0 9px;
}
.grid2 {
  margin: 0.4em 0 0;
}
.bs-example {
  padding: 1em 0 0;
}
h3.typo1 {

  font-size: 1.8em;
}	
figure.effect-bubba h4.gal {
    padding-top: 20%;
}
.footer-grid {
    padding: 0;
}
.newsletter input[type="submit"] {
    width: 35%;
}
.newsletter input[type="email"] {
    width: 65%;
}
.bottom-grid {
    padding: 0;
}
.service {
    padding: 2em 0;
}
.service h2 {
    font-size: 1.5em;
	margin: 0em 0em 0.5em 0em;
}
.ser-top p {
    font-size: 0.9em;
}
.ser-top {
    margin-bottom: 1em;
}
.ser-grid {
    padding: 0;
	margin-top: 1.5em;
}
.ser-grid p {
    font-size: 0.9em;
}
.wel-block-1 {
    padding: 0;
}
.contact-left {
    padding: 0;
}
.contact-right {
    padding: 0;
}
.page-header h3 {
    font-size: 1.7em;
}
}
